<!DOCTYPE html>
<html class="mouse clickberry-extension clickberry-extension-standalone"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta charset="utf-8">

        <title>Xenon Develops</title>

        <!-- Behavioral Meta Data -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta property="og:image" content="parallax.js_files/icon.png">
        <meta property="og:site_name" content="xenon Develops">
        <meta property="og:title" content="xenon Develops">
        <meta property="og:type" content="website">



        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
        <link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./css/tooltip-round.css">
        <link rel="stylesheet" type="text/css" href="./css/component.css" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="./img/icon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="./img/icon.png" type="image/png">
        <link rel="shortcut icon" href="./img/icon.png" type="image/png">

        <!--Apple Touch Icons--> 
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://matthew.wagerfield.com/parallax/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://matthew.wagerfield.com/parallax/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://matthew.wagerfield.com/parallax/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://matthew.wagerfield.com/parallax/apple-touch-icon-57x57-precomposed.png">

        <link rel="apple-touch-startup-image" href="http://matthew.wagerfield.com/parallax/apple-touch-startup-image-320x460.png" media="(device-width: 320px)">
        <link rel="apple-touch-startup-image" href="http://matthew.wagerfield.com/parallax/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)">
        <link rel="apple-touch-startup-image" href="http://matthew.wagerfield.com/parallax/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)">
        <link rel="apple-touch-startup-image" href="http://matthew.wagerfield.com/parallax/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)">
        <link rel="apple-touch-startup-image" href="http://matthew.wagerfield.com/parallax/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
        <link rel="apple-touch-startup-image" href="http://matthew.wagerfield.com/parallax/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">

        <meta content="clickberry-extension-here"></head>
    <body>

        <div id="container" class="wrapper center">
            <ul id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" style="width: 1440px; height: 756px; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" data-mode="cursor">
                <li class="layer" data-depth="0.20" style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(-21.4201042345966px, -3.67029714709871px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                    <div class="background">
                    </div>
                </li>

                <li>
                    <h1 class="title">
                        Xenon<em style="background-color:rgba(40,40,40,0.5);">Develops</em>
                    </h1>
                </li>
            </ul>
            <div class="toggle">
                <div class="dummy-edit dummy-menu">
                    <ul>
                        <li>
                            <a class="tooltip tooltip-effect-1" href="#"><strong>Inicio</strong>
                                <span class="tooltip-content"><i class="fa fa-fw fa-home"></i></span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip tooltip-effect-2" href="#">Nosotros
                                <span class="tooltip-content"><i class="fa fa-fw fa-user"></i></span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip tooltip-effect-3" href="#">Fotos
                                <span class="tooltip-content"><i class="fa fa-fw fa-camera-retro"></i></span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip tooltip-effect-4" href="#">Proyectos
                                <span class="tooltip-content"><i class="fa fa-fw fa-briefcase"></i></span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip tooltip-effect-5" href="#">Contacto
                                <span class="tooltip-content"><i class="fa fa-fw fa-envelope"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="container">
                <div id="morphsearch" name="morphsearch" class="morphsearch">
                    <form class="morphsearch-form">
                        <input class="morphsearch-input" type="search" placeholder="Search..."/>
                        <button class="morphsearch-submit" type="submit">Search</button>
                    </form>
                    <div class="morphsearch-content">
                        <div class="dummy-column">
                            <h2>People</h2>
                            <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
                                <img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan"/>
                                <h3>Sara Soueidan</h3>
                            </a>
                            <a class="dummy-media-object" href="http://twitter.com/rachsmithtweets">
                                <img class="round" src="http://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G" alt="Rachel Smith"/>
                                <h3>Rachel Smith</h3>
                            </a>
                            <a class="dummy-media-object" href="http://www.twitter.com/peterfinlan">
                                <img class="round" src="http://0.gravatar.com/avatar/06458359cb9e370d7c15bf6329e5facb?s=50&d=identicon&r=G" alt="Peter Finlan"/>
                                <h3>Peter Finlan</h3>
                            </a>
                            <a class="dummy-media-object" href="http://www.twitter.com/pcridesagain">
                                <img class="round" src="http://1.gravatar.com/avatar/db7700c89ae12f7d98827642b30c879f?s=50&d=identicon&r=G" alt="Patrick Cox"/>
                                <h3>Patrick Cox</h3>
                            </a>
                            <a class="dummy-media-object" href="https://twitter.com/twholman">
                                <img class="round" src="http://0.gravatar.com/avatar/cb947f0ebdde8d0f973741b366a51ed6?s=50&d=identicon&r=G" alt="Tim Holman"/>
                                <h3>Tim Holman</h3>
                            </a>
                            <a class="dummy-media-object" href="https://twitter.com/shaund0na">
                                <img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G" alt="Shaun Dona"/>
                                <h3>Shaun Dona</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Popular</h2>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/05/page-preloading-effect/">
                                <img src="img/thumbs/PagePreloadingEffect.png" alt="PagePreloadingEffect"/>
                                <h3>Page Preloading Effect</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/28/arrow-navigation-styles/">
                                <img src="img/thumbs/ArrowNavigationStyles.png" alt="ArrowNavigationStyles"/>
                                <h3>Arrow Navigation Styles</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/">
                                <img src="img/thumbs/HoverEffectsIdeasNew.png" alt="HoverEffectsIdeasNew"/>
                                <h3>Ideas for Subtle Hover Effects</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/14/freebie-halcyon-days-one-page-website-template/">
                                <img src="img/thumbs/FreebieHalcyonDays.png" alt="FreebieHalcyonDays"/>
                                <h3>Halcyon Days Template</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/22/inspiration-for-article-intro-effects/">
                                <img src="img/thumbs/ArticleIntroEffects.png" alt="ArticleIntroEffects"/>
                                <h3>Inspiration for Article Intro Effects</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/26/draggable-dual-view-slideshow/">
                                <img src="img/thumbs/DraggableDualViewSlideshow.png" alt="DraggableDualViewSlideshow"/>
                                <h3>Draggable Dual-View Slideshow</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Recent</h2>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/10/07/tooltip-styles-inspiration/">
                                <img src="img/thumbs/TooltipStylesInspiration.png" alt="TooltipStylesInspiration"/>
                                <h3>Tooltip Styles Inspiration</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/23/animated-background-headers/">
                                <img src="img/thumbs/AnimatedHeaderBackgrounds.png" alt="AnimatedHeaderBackgrounds"/>
                                <h3>Animated Background Headers</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/16/off-canvas-menu-effects/">
                                <img src="img/thumbs/OffCanvas.png" alt="OffCanvas"/>
                                <h3>Off-Canvas Menu Effects</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/02/tab-styles-inspiration/">
                                <img src="img/thumbs/TabStyles.png" alt="TabStyles"/>
                                <h3>Tab Styles Inspiration</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/">
                                <img src="img/thumbs/ResponsiveSVGs.png" alt="ResponsiveSVGs"/>
                                <h3>Make SVGs Responsive with CSS</h3>
                            </a>
                            <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/23/notification-styles-inspiration/">
                                <img src="img/thumbs/NotificationStyles.png" alt="NotificationStyles"/>
                                <h3>Notification Styles Inspiration</h3>
                            </a>
                        </div>
                    </div><!-- /morphsearch-content -->
                    <span class="morphsearch-close"></span>
                </div><!-- /morphsearch -->
            </div>



        </div>

        

        <!-- Scripts -->
        <script src="./js/libraries.min.js"></script>
        <script src="./js/jquery.parallax.js"></script>
        <script src="./js/classie.js"></script>
        <script type="text/javascript">
            (function() {
                var morphSearch=document.getElementById('morphsearch');
                var input = morphSearch.querySelector( 'input.morphsearch-input' );
                var ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
                    isOpen = isAnimating = false,
                    // show/hide search area
                    toggleSearch = function(evt) {
                        // return if open and the input gets focused
                        if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

                        var offsets = morphSearch.getBoundingClientRect();
                        if( isOpen ) {
                            classie.remove( morphSearch, 'open' );

                            // trick to hide input text once the search overlay closes 
                            // todo: hardcoded times, should be done after transition ends
                            if( input.value !== '' ) {
                                setTimeout(function() {
                                    classie.add( morphSearch, 'hideInput' );
                                    setTimeout(function() {
                                        classie.remove( morphSearch, 'hideInput' );
                                        input.value = '';
                                    }, 300 );
                                }, 500);
                            }
                            
                            input.blur();
                        }
                        else {
                            classie.add( morphSearch, 'open' );
                        }
                        isOpen = !isOpen;
                    };

                // events
                input.addEventListener( 'focus', toggleSearch );
                ctrlClose.addEventListener( 'click', toggleSearch );
                // esc key closes search overlay
                // keyboard navigation events
                document.addEventListener( 'keydown', function( ev ) {
                    var keyCode = ev.keyCode || ev.which;
                    if( keyCode === 27 && isOpen ) {
                        toggleSearch(ev);
                    }
                } );


                /***** for demo purposes only: don't allow to submit the form *****/
                morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
            })();
        </script>
        <script>

            // jQuery Selections
            var $html = $('html'),
            $container = $('#container'),
            $prompt = $('#prompt'),
            $toggle = $('#toggle'),
            $about = $('#about'),
            $scene = $('#scene');

            // Hide browser menu.
            (function() {
                setTimeout(function(){window.scrollTo(0,0);},0);
            })();

            // Setup FastClick.
            FastClick.attach(document.body);

            // Add touch functionality.
            if (Hammer.HAS_TOUCHEVENTS) {
                $container.hammer({drag_lock_to_axis: true});
                _.tap($html, 'a,button,[data-tap]');
            }

            // Add touch or mouse class to html element.
            $html.addClass(Hammer.HAS_TOUCHEVENTS ? 'touch' : 'mouse');

            // Resize handler.
            (resize = function() {
                $scene[0].style.width = window.innerWidth + 'px';
                $scene[0].style.height = window.innerHeight + 'px';
                if (!$prompt.hasClass('hide')) {
                    if (window.innerWidth < 600) {
                        $toggle.addClass('hide');
                    } else {
                        $toggle.removeClass('hide');
                    }
                }
            })();

            // Attach window listeners.
            window.onresize = _.debounce(resize, 200);
            window.onscroll = _.debounce(resize, 200);

            function showDetails() {
                $about.removeClass('hide');
                $toggle.removeClass('i');
            }

            function hideDetails() {
                $about.addClass('hide');
                $toggle.addClass('i');
            }

            // Listen for toggle click event.
            $toggle.on('click', function(event) {
                $toggle.hasClass('i') ? showDetails() : hideDetails();
            });

            // Pretty simple huh?
            $scene.parallax();

            // Check for orientation support.
            setTimeout(function() {
                if ($scene.data('mode') === 'cursor') {
                    $prompt.removeClass('hide');
                    if (window.innerWidth < 600) $toggle.addClass('hide');
                    $prompt.on('click', function(event) {
                        $prompt.addClass('hide');
                        if (window.innerWidth < 600) {
                            setTimeout(function() {
                                $toggle.removeClass('hide');
                            },1200);
                        }
                    });
                }
            },1000);
        </script>



    </body></html>